version: "2"

services:
  #{% for i in range(N_GPU) %}
  #tensorflow_{{i}}:
  #  image: gcr.io/tensorflow/tensorflow:latest-gpu
  #  ports:
  #    - "300{{i}}:8888"
  #  devices:
  #    - /dev/nvidia{{i}}
  #  volumes:
  #    - ${PWD}:/notebooks
  #{% endfor %}


  # tensorflow_allcnn:
  #   image: registry.cf.ericsson.net/eisamar/tensorflow-horovod-container:latest
  #   ports:
  #     - "3002:8888"
  #   volumes:
  #     - ${PWD}:/notebooks
  #   environment:
  #     - NV_GPU
  #   devices:
  #     # - /dev/nvidia0
  #     - /dev/nvidia1
  #     # - /dev/nvidia2

  tensorflow:
    image: gcr.io/tensorflow/tensorflow:latest-gpu
    ports:
      - "${TENSORFLOW_PORT}:8888"
    volumes:
      - ${PWD}:/notebooks
    environment:
      - NV_GPU
    devices:
      - /dev/nvidia1
      # - /dev/nvidia5
      # - /dev/nvidia6

  tensorboard:
    image: gcr.io/tensorflow/tensorflow
    ports:
        - ${TENSORBOARD_PORT}:${TENSORBOARD_PORT}
    command: tensorboard --port=${TENSORBOARD_PORT} --logdir=/tf_logs
    volumes:
      - ${PWD}/logs/:/tf_logs

  mongodb:
        image: mongo:latest
        container_name: "mongodb"
        environment:
          - MONGO_DATA_DIR=/data/db
          - MONGO_LOG_DIR=/dev/null
        volumes:
          - ./data/db:/data/db
        ports:
            - 27017:27017
        command: mongod --smallfiles --logpath=/dev/null # --quiet